mixin stage(number,title1,title2,text1,textRed,text2)
    .stage
        .stage__number=number
        .stage__content
            .stage__header.f-bold
                span=title1
                span.gray=title2 
            .stage__text=text1 
            .stage__text 
                span.red.font-bold=textRed 
                span=text2 


section#s-schedule
    .container
        .schedule
            h2.schedule__header.title-w-circle.circle-gray 
                span Как всё будет происходить
            .schedule__list
                +stage(
                    '01',
                    'Проектирование системы ',
                    '— 7 дней',
                    'Первый обязательный шаг для начала работы.',
                    'Результат: ',
                    'готовый проект, смета работ, расчёт окупаемости.'
                )
                +stage(
                    '02',
                    'Разработка ',
                    '— 30 дней',
                    'Первый обязательный шаг для начала работы.',
                    'Результат: ',
                    'готовый проект, смета работ, расчёт окупаемости.'
                )
                +stage(
                    '03',
                    'Тестирование',
                    ' — 10 дней',
                    'Запускаем трафик и выбираем самые эффективные аудитории, тексты и баннеры.',
                    'Результат: ',
                    'проверенная работающая воронка продаж и первые клиенты.'
                )
                +stage(
                    '04',
                    'Эксплуатация',
                    ' — продолжаем пока нужны новые клиенты',
                    'Ведём и постоянно оптимизируем рекламные кампании, ведём и продвигаем соцсети, обрабатываем заявки и совершаем продажи.',
                    'Результат: ',
                    'прибыль.'
                )